@import url('https://fonts.googleapis.com/css?family=Poppins:400.500,700');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
/* .navbar{
    padding: .8rem;
} */
.navbar .container-fluid .navbar-brand img{
    width: 150px;
    transition: 300ms ease-in-out;
}
/*TO change the color of navbar on scroll*/

.bg-light {
    background: linear-gradient(#393e46, transparent) !important;
 
}
.scrolled{
    background: #393e46  !important;  
}
.navbar-nav li{
    padding-right: 50px;
    /* margin: 1rem; */
    
}
.nav-link{
    font-size: 1.5rem !important ;
}
.navbar .nav-item .nav-link{
    color: white;
    transition: 300ms ease-in-out;
}
.navbar .nav-item .nav-link:hover{
    transition: 300ms ease-in-out;
    transform: translateY(-5px);
}
.navbar .navbar-brand{
    transition: 300ms ease-in-out;
}
.navbar .navbar-brand:hover{
    transition: 300ms ease-in-out;
    transform: translateY(-10px);
}
.carousel-inner img{
    width: 100%;
    
}
.carousel-caption{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary{
    background-color: #393e46;
    border: 1px solid #ceea31;
    color: #ceea31;
    border-radius: 10px;

}
.btn-outline-light{
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #ceea31;
    border: 1px solid #393e46;
    color: black;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem ;
    margin-bottom: 1rem;
}
.fa-door-open, .fa-archive, .fa-step-backward, .fa-step-forward{
    color: #ceea31;
}

.fa-th-large{
    color: #ceea31;
}
.fa-map-marked-alt{
    color: #ceea31;
}
.fa-archive, .fa-door-open, .fa-bath, .fa-th-large, .fa-map-marked-alt, .fa-step-backward, .fa-step-forward{
    font-size: 4em;
    margin: 1rem;
}
#figure{
    margin: 0%;
}
.fixed-wrap #fixed{
    background-image: url('/img/Fixed.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 0%;
}
.fixed-text{
    transform: translate(0%,70%);
}

.card-img-overlay{
    margin-top: 30%;
    margin-bottom: 10%;
    background-color: #656c773b;
    float: left;
    width: 80%;
    color: white;
    border-radius: 5px;
}
.card-img-overlay:hover {
    background-color: #ceea31;
    color: black;

}
.card-img-top:hover{
    transition: 300ms ease-in-out;
    width: 103%;
    transform: translate(-1.5%,-1.5%);
    box-shadow: 1px 1px 5px 5px #ceea31;
    background-color: black;
}
.google-maps {
    position: relative;
    width: 90%;
    margin: auto;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-twitter-square{
color: #00aced;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}
footer{
    background-color: #393e46;
    color: #fff;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 70%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #d5d5d5;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/* Media Queries */
@media (all){
    .carousel-inner img{
        width: 100%;
    }
}
@media (max-width: 1920px){
.carousel-inner img{
       width: 100%;
    }
    .carousel-caption{
        top: 75%;
        
    }
    .carousel-caption h1{
        font-size: 200%;
    }
    
    
}
@media (max-width: 1024px){
    .carousel-caption{
        top: 55%;
    }
}
@media (max-width: 992px){
 .social a{
     font-size: 4rem;
     padding: 2rem;
 }
 .carousel-caption{
    top: 65%;
    
}


.carousel-caption h1{
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
}
.carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
}
}
@media(max-width: 768px){
.navbar-link{
    padding: 100px;
    margin: 100px;
    
}
.navbar .container-fluid .navbar-brand img{
        width: 200px;
    }
.navbar-nav li{
        padding-right: px;
        margin: 0rem;
        
    }
.nav-link{
        font-size: 1.5rem !important ;
    }
.navbar .container-fluid .navbar-brand img{
        width: 150px;
    }
.carousel-inner img{
        width: auto;
        height: 600px; 
    }
    
.carousel-caption{
    top: 65%;
    
}
.fa-step-backward, .fa-step-forward{
        display: none;
    }
.carousel-caption h1{
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
}
.carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
}
.display-4{
    font-size: 200%;
}
.social a{
    font-size: 2.5rem;
    padding: 1.2rem;
}

}
@media(max-width: 576px){
    .carousel-caption{
        top: 65%;
        
    }
    .fa-step-backward, .fa-step-forward{
        display: none;
    }
    .contact-text{
        font-size: x-large;
    }
    .contact-p{
        font-size: medium;
    }
   
    .send-msg label{
        font-size: medium;
    }
    .carousel-inner img{
        height: 400px;
        width: auto;
    }
    .carousel-caption h1{
        font-size: 150%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
    }
    .carousel-caption h3{
        font-size: 110%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption, .text-center .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
    .fixed-text .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
        font-size: 160%;
    }
    .social a{
        font-size: 2rem;
        padding: .7rem;
    } 
    .fixed-wrap #fixed{
        background-image: url('/img/door.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        padding: 0%;
        
    }
}
